body {
    margin: 0;
    display: grid;
    grid-template-areas: 
   'header  header  header  '
   '.       main    .       '
   'footer  footer  footer  ';
    
    grid-template-columns: auto;
    grid-template-rows: 110px auto 50px;
    min-height: 100vh;
    color: white;
    background-color: darkslategray;
    text-align: center;   
    width: 960px;
    padding: 1px;
    border: solid blanchedalmond;
    border-radius: 15px;
    margin: auto;
}

.rh-header {
    grid-area: header;
    text-align: center;
    color: white;
    background-color: rgb(32, 54, 54);
    border: solid rgb(32, 54, 54);

    font-family: 'Open Sans', sans-serif;

}

.rh-content {
    grid-area: main;
    font-family: 'Playfair Display', serif;

    
}
.rh-picture {
    grid-area: main;
    border-radius: 2px;
    width: 20%;
}
.rh-footer{
    grid-area: footer;
    color: bisque;
    background-color: rgb(32, 54, 54);
    border: solid rgb(32, 54, 54);
    text-align: center;  
}
p {
    font-family: 'Playfair Display', serif;
    color: lightgrey;   
}

.nav {
    width: 500px;
    grid-area: main;

}
.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navlist-item {
    display: inline-block;
    text-align: center;
    padding: none;
    margin-bottom: 1px;
}
.navlist-item-link {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  text-align-last: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
