.changingcircle {
    height: 250px;
    width: 250px;
    margin: 100px auto auto auto;
    background-color: #581845;
    animation-name: colorcircle;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-play-state: running; 
  }
 
 /* animations */
 /*Moving picture i header*/
 @keyframes colors{
    0%      { background-position: 0 0;      }
    100%    { background-position: -613px 0;      }
 }
 /*animation circle scale*/
  @keyframes colorcircle {
    0% {
       transform: scale(1);
        background-color: #FFC30F;
        border-radius: 100%
    }
    25% {
        background-color: #FF5733
    }
    50% {
        background-color: #C70039;
        border-radius: 0%;
    }
    75% {
        background-color: #900C3F
    }
    100% {
       transform: scale(1.2);
        background-color: #581845;
        border-radius: 100%;
    }
  } 
  /* FEL ANIMATION */
  .changingcircle-2 {
    height: 250px;
    width: 250px;
    margin: 100px auto auto auto;
    background-color: #581845;
    animation-name: colorcircle-2;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-play-state: running; 
  }
 .circleDIV{
    height: 250px;
    width: 250px;
 }
 .rutan{
    height: 50px;
    width: 50px;
    position: relative;
    /* animation-name: spinning;
    animation-duration: 7s; 
    animation-fill-mode: forwards;
    animation-timing-function: linear; */
  }
 /* animations */
 
 
 /*animation circle scale*/
  @keyframes colorcircle-2 {
    0% {
       height: 150px;
       width: 150x;
        background-color: #FFC30F;
        border-radius: 100%
    }
    25% {
        background-color: #FF5733
    }
    50% {
        background-color: #C70039;
        border-radius: 0%;
    }
    75% {
        background-color: #900C3F
    }
    100% {
       height: 500px;
       width: 500px;
        background-color: #581845;
        border-radius: 100%;
    }
  } 
  /* Ruta i sidebar */
  @keyframes spinning {
    0% {
      background-color: green;
    }
    50% {
      transform: translate(200px, 0px) rotate(180deg);
      background-color: aquamarine;
    }
    100%{
       transform: translate(400px, 0px) rotate(360deg);
      background-color: chartreuse;
    }
  }