*{
   box-sizing: border-box;
}
body {margin: 0;}

.container {

   min-height: 100vh;
   display: grid;
   grid-template-areas: 

   "header"
   "left"
   "main"
   "right"
   "footer";
}
.cell-1 {
   background: url(lights.jpg);
   grid-area: header;
   display: grid;
   grid-template-columns: 2vw 1fr 10fr 1fr 2vw;
   grid-template-rows: 90px auto;
   animation: colors 25s infinite linear;
   align-items: center;
}
.cell-2 {
   background: #222;
   grid-area: left;
}
.cell-3 {
   background: #222;
   grid-area: main;
}
.cell-4 {
   background: #222;
   grid-area: right;
}
.cell-5 {
   background: rgb(70, 61, 53);
   grid-area: footer;
   height: 35px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
.cell {
   color: white;
   font-size: 1.5rem;
   text-align: center;
   padding: 0;
}
.nav {
   display: none;
   grid-area: header; 
   grid-column: 1/6;
   grid-row: 2;
   margin: 0;
   background-color: black;
}

.navlist {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr;
   height: calc(80vh-70px);
   align-content: space-between;
}
.nav-item {
    display: inline-block;
    text-align: center;
    margin-bottom: 3px;
}
.nav-item-link {
  color: white;
  text-decoration: none;
  text-align-last: center;
}
.hamburger{
   grid-column: 4;
   justify-self: end;
}
.material-icons{
   font-size: 1.4em;
   color: white;
}


/* Tablet */
@media (min-width: 768px) {
   .container {
      min-height: 100vh;
      grid-template-areas:
       'header header  header'
       'left      main    right'
       'footer footer  footer';
       grid-template-rows: auto 4fr 35px;
      grid-template-columns: 1fr 3fr 1fr;
   }
.cell-1 {
   grid-template-rows: 170px auto;
   }
   .nav{
      display: none;
      grid-column: 1/6;
      margin: 0;
      background-color: black;

   }
  .navlist{
     display: flex;
       /* grid-template-columns: repeat(3, 1fr); */
       justify-content: space-around;
       grid-template-rows: auto;
  }
  @keyframes spinning {
   0% {
     background-color: green;
   }
   50% {
     transform: translate(0px, 200px) rotate(180deg);
     background-color: aquamarine;
   }
   100%{
      transform: translate(0px, 400px) rotate(360deg);
     background-color: chartreuse;
   }
 }
 }
 

  

 button {
   padding: 4px;
   margin: 50px;
}

.button{
   
	--border-size: 2px;
	
	
	position: relative;
	padding: 1.5em 3em;
	border: solid;
	background: transparent;
	color: #e55743;
	text-transform: uppercase;
	letter-spacing: .25em;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;  
}


