
.nav-link{
    color: white;
}
.visa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
  width: auto;
  height: 200px;
}

.kort-deck{
  padding: 15px;
  margin: 15px; 
}

.kort-title{
  font-family: 'Titillium Web', sans-serif;
  margin:5px;
  padding:5px;
}


.kort-text{
font-family: Arial;
font-weight: bold;
letter-spacing: .25em;
margin: 5px;
padding: 5px;
font-size: 80%;
}

.kort{
 margin:5px;
border-radius: 15px;
background-color:  rgb(235, 217, 195);
}
.container{
  text-align: center;

}
img{
border-top-left-radius: 15px;
border-top-right-radius: 15px;
height: 240px;

width: 270px;
}
button{

margin: 5px;
padding: 5px;

}